<section class="gallery section" id="gallery">
  <div class="container">
    <h2 class="gallery-title">Галерея зображень</h2>
    <h3 class="gallery-subtitle">EcoTotes у повсякденному житті</h3>
    <ul class="gallery-grid">
      <li class="item1">
        <picture>
          <source
            media="(max-width: 768px)"
            srcset="
              /img/gallery-1-mobile.webp    1x,
              /img/gallery-1-mobile@2x.webp 2x
            "
          />
          <source
            media="(max-width: 1440px)"
            srcset="/img/gallery-1-tab.webp 1x, /img/gallery-1-tab@2x.webp 2x"
          />
          <img
            src="/img/gallery-1-dsc.webp"
            srcset="/img/gallery-1-dsc.webp 1x, /img/gallery-1-dsc@2x.webp 2x"
            loading="lazy"
            alt="Eco bag on chair"
          />
        </picture>
      </li>
      <li class="item2">
        <picture>
          <source
            media="(max-width: 768px)"
            srcset="
              /img/gallery-2-mobile.webp    1x,
              /img/gallery-2-mobile@2x.webp 2x
            "
          />
          <source
            media="(max-width: 1440px)"
            srcset="/img/gallery-2-tab.webp 1x, /img/gallery-2-tab@2x.webp 2x"
          />
          <img
            src="/img/gallery-2-dsc.webp"
            srcset="/img/gallery-2-dsc.webp 1x, /img/gallery-2-dsc@2x.webp 2x"
            loading="lazy"
            alt="Man with tote bag"
          />
        </picture>
      </li>
      <li class="item3">
        <picture>
          <source
            media="(max-width: 768px)"
            srcset="
              /img/gallery-3-mobile.webp    1x,
              /img/gallery-3-mobile@2x.webp 2x
            "
          />
          <source
            media="(max-width: 1440px)"
            srcset="/img/gallery-3-tab.webp 1x, /img/gallery-3-tab@2x.webp 2x"
          />
          <img
            src="/img/gallery-3-dsc.webp"
            srcset="/img/gallery-3-dsc.webp 1x, /img/gallery-3-dsc@2x.webp 2x"
            loading="lazy"
            alt="Person with recycle bag"
          />
        </picture>
      </li>
      <li class="item4">
        <picture>
          <source
            media="(max-width: 768px)"
            srcset="
              /img/gallery-4-mobile.webp    1x,
              /img/gallery-4-mobile@2x.webp 2x
            "
          />
          <source
            media="(max-width: 1440px)"
            srcset="/img/gallery-4-tab.webp 1x, /img/gallery-4-tab@2x.webp 2x"
          />
          <img
            src="/img/gallery-4-dsc.webp"
            srcset="/img/gallery-4-dsc.webp 1x, /img/gallery-4-dsc@2x.webp 2x"
            loading="lazy"
            alt="Woman with vegetables"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
