<section class="gallery section" id="gallery">
  <div class="container">
    <h2 class="gallery-title">Галерея зображень</h2>
    <h3 class="gallery-subtitle">EcoTotes у повсякденному житті</h3>
    <ul class="gallery-grid">
      <li class="item1">
        <picture>
          <!-- Десктоп от 1440px -->
          <source
            srcset="
              ./img/gallery-1-desktop-1x.webp 1x,
              ./img/gallery-1-desktop-2x.webp 2x
            "
            media="(min-width: 1440px)"
            type="image/webp"
          />
          <!-- Планшет от 768px -->
          <source
            srcset="
              ./img/gallery-1-tablet-1x.webp 1x,
              ./img/gallery-1-tablet-2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <!-- Мобилка до 767px -->
          <source
            srcset="
              ./img/gallery-1-mobile-1x.webp 1x,
              ./img/gallery-1-mobile-2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <img
            class="gallery-img"
            src="./img/gallery-1-mobile-1x.webp"
            width="310"
            height="372"
            loading="lazy"
            alt="Eco bag on chair"
            sizes="(max-width: 767px) 288px, (min-width: 768px) 356px, 380px"
          />
        </picture>
      </li>
      <li class="item2">
        <picture>
          <!-- Десктоп от 1440px -->
          <source
            srcset="
              ./img/gallery-2-desktop-1x.webp 1x,
              ./img/gallery-2-desktop-2x.webp 2x
            "
            media="(min-width: 1440px)"
            type="image/webp"
          />
          <!-- Планшет от 768px -->
          <source
            srcset="
              ./img/gallery-2-tablet-1x.webp 1x,
              ./img/gallery-2-tablet-2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <!-- Мобилка до 767px -->
          <source
            srcset="
              ./img/gallery-2-mobile-1x.webp 1x,
              ./img/gallery-2-mobile-2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <img
            class="gallery-img"
            src="./img/gallery-2-mobile-1x.webp"
            width="310"
            height="372"
            loading="lazy"
            alt="Man with tote bag"
            sizes="(max-width: 767px) 288px, (min-width: 768px) 356px, 380px"
          />
        </picture>
      </li>
      <li class="item3">
        <picture>
          <!-- Десктоп от 1440px -->
          <source
            srcset="
              ./img/gallery-3-desktop-1x.webp 1x,
              ./img/gallery-3-desktop-2x.webp 2x
            "
            media="(min-width: 1440px)"
            type="image/webp"
          />
          <!-- Планшет от 768px -->
          <source
            srcset="
              ./img/gallery-3-tablet-1x.webp 1x,
              ./img/gallery-3-tablet-2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <!-- Мобилка до 767px -->
          <source
            srcset="
              ./img/gallery-3-mobile-1x.webp 1x,
              ./img/gallery-3-mobile-2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <img
            class="gallery-img"
            src="./img/gallery-3-mobile-1x.webp"
            width="310"
            height="372"
            loading="lazy"
            alt="Person with recycle bag"
            sizes="(max-width: 767px) 288px, (min-width: 768px) 356px, 380px"
          />
        </picture>
      </li>
      <li class="item4">
        <picture>
          <!-- Десктоп от 1440px -->
          <source
            srcset="
              ./img/gallery-4-desktop-1x.webp 1x,
              ./img/gallery-4-desktop-2x.webp 2x
            "
            media="(min-width: 1440px)"
            type="image/webp"
          />
          <!-- Планшет от 768px -->
          <source
            srcset="
              ./img/gallery-4-tablet-1x.webp 1x,
              ./img/gallery-4-tablet-2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <!-- Мобилка до 767px -->
          <source
            srcset="
              ./img/gallery-4-mobile-1x.webp 1x,
              ./img/gallery-4-mobile-2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <img
            class="gallery-img"
            src="./img/gallery-4-mobile-1x.webp"
            width="310"
            height="372"
            loading="lazy"
            alt="Woman with vegetables"
            sizes="(max-width: 767px) 288px, (min-width: 768px) 356px, 380px"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
