<section class="hero section" id="hero">
  <div class="container">
    <div class="hero-content">
      <h1 class="hero-title">EcoTote — Стиль, що не шкодить планеті</h1>
      <div class="hero-info">
        <p class="hero-description">
          Екологічні сумки для тих, хто дбає про майбутнє. Обирайте стиль та
          відповідальність разом з EcoTote.
        </p>
        <a class="hero-button" href="#assortment">Купити зараз</a>
      </div>
    </div>

    <div class="hero-image-wrapper">
      <picture>
        <source
          srcset="
            /img/hero/hero-desktop-1x.webp 1x,
            /img/hero/hero-desktop-2x.webp 2x
          "
          media="(min-width: 1440px)"
          type="image/webp"
        />
        <source
          srcset="
            /img/hero/hero-tablet-1x.webp 1x,
            /img/hero/hero-tablet-2x.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="
            /img/hero/hero-mobile-1x.webp 1x,
            /img/hero/hero-mobile-2x.webp 2x
          "
          media="(max-width: 767px)"
          type="image/webp"
        />
        <img
          src="/img/hero/hero-mobile-1x.webp"
          alt="threads and leaf"
          width="1312"
          height="498"
          fetchpriority="high"
          loading="eager"
          decoding="async"
          sizes="(max-width: 767px) 288px, (min-width: 768px) 704px, 267px"
        />
      </picture>
    </div>
  </div>
</section>
