<div class="mobile-modal" id="mobile-modal">
  <div class="mobile-modal-wrap">
    <nav class="mobile-modal-nav">
      <ul class="mobile-modal-nav-list">
        <li class="mobile-modal-nav-item">
          <a class="mobile-modal-nav-link" href="#about">Про нас</a>
        </li>
        <li class="mobile-modal-nav-item">
          <a class="mobile-modal-nav-link" href="#advantages">Переваги</a>
        </li>
        <li class="mobile-modal-nav-item">
          <a class="mobile-modal-nav-link" href="#assortment">Асортимент</a>
        </li>
        <li class="mobile-modal-nav-item">
          <a class="mobile-modal-nav-link" href="#gallery">Галерея</a>
        </li>
        <li class="mobile-modal-nav-item">
          <a class="mobile-modal-nav-link" href="#feedbacks">Відгуки</a>
        </li>
        <li class="mobile-modal-nav-item">
          <a class="mobile-modal-nav-link" href="#support">Контакти</a>
        </li>
      </ul>
    </nav>

    <address class="mobile-modal-contacts">
      <ul class="mobile-modal-contacts-list">
        <li class="mobile-modal-contacts-item">
          <a class="mobile-modal-contacts-link" href="tel:+380999091122">
            +38 (099) 909 11 22
          </a>
        </li>
        <li class="mobile-modal-contacts-item">
          <a class="mobile-modal-contacts-link" href="mailto:hello@ecotote.com">
            hello@ecotote.com
          </a>
        </li>
      </ul>
    </address>
  </div>
</div>
