.about {
  background-image: url('../img/about/about-mobile-1x.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  color: var(--bg-page);
  display: flex;
  align-items: center;
  justify-content: center;
}

.about > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media screen and (min-width: 320px) and (min-resolution: 2dppx) {
  .about {
    background-image: url('../img/about/about-mobile-2x.webp');
    padding: 64px 0;
    padding: 64px 0;
  }
}

.about-title {
  font-weight: var(--fw-regular);
  font-size: var(--fs-16);
  line-height: var(--lh-normal);
  text-align: center;
  margin: 0 auto;
}

.about-subtitle {
  font-family: var(--font-primary);
  font-weight: var(--fw-bold);
  font-size: var(--fs-36);
  line-height: var(--lh-midle);
  letter-spacing: var(--ls-tight);
  text-align: center;
  margin-top: 12px;
  margin-bottom: 20px;
}

.about-text {
  font-weight: var(--fw-regular);
  font-size: var(--fs-16);
  line-height: var(--lh-relaxed);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .about {
    background-image: url('../img/about/about-tablet-1x.webp');
  }

  .about-text {
    font-weight: var(--fw-regular);
    font-size: var(--fs-18);
    line-height: var(--lh-relaxed);
    text-align: center;
    max-width: 573px;
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .about {
    background-image: url('../img/about/about-tablet-2x.webp');
    padding: 80px 0;
    padding: 80px 0;
  }
}

@media screen and (min-width: 1440px) {
  .about {
    background-image: url('../img/about/about-desktop-1x.webp');
    padding-top: 112px;
    padding-bottom: 94px;
  }

  .about-title {
    font-size: var(--fs-16);
  }

  .about-subtitle {
    font-size: var(--fs-56);
    max-width: 629px;
  }
}

@media screen and (min-width: 1440px) and (min-resolution: 2dppx) {
  .about {
    background-image: url('../img/about/about-desktop-2x.webp');
  }
}
