.advantages-subtitle {
  font-weight: var(--fw-medium);
  font-size: var(--fs-16);
  line-height: var(--lh-normal);
  margin-bottom: 12px;
}

.advantages-title {
  font-family: var(--font-primary);
  font-weight: var(--fw-bold);
  font-size: var(--fs-36);
  line-height: var(--lh-midle);
  letter-spacing: var(--ls-tight);
  margin-bottom: 20px;
}

.advantages-desc {
  font-weight: var(--fw-regular);
  font-size: var(--fs-16);
  line-height: var(--lh-relaxed);
  margin-bottom: 48px;
}

.advantages-subhead {
  font-family: var(--font-primary);
  font-weight: var(--fw-bold);
  font-size: var(--fs-24);
  line-height: var(--lh-tight);
  letter-spacing: var(--ls-tight);
  margin-top: 8px;
  margin-bottom: 4px;
}

.advantages-text {
  font-weight: var(--fw-regular);
  font-size: var(--fs-16);
  line-height: var(--lh-relaxed);
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.advantages-item img {
  border-radius: 32px;
}

@media screen and (min-width: 768px) {
  .advantages-subtitle {
    margin-bottom: 16px;
  }

  .advantages-title {
    margin-bottom: 24px;
  }

  .advantages-desc {
    font-size: var(--fs-18);
    margin-bottom: 32px;
  }

  .advantages-subhead {
    margin-top: 32px;
    margin-bottom: 8px;
  }

  .advantages-list {
    gap: 24px;
  }

  .advantages-subhead-part {
    margin-bottom: 42px;
  }

  .part-crosshead {
    display: unset;
  }

  .advantages-item {
    width: calc((100% - 24px) / 2);
  }

  .advantages-item:last-child {
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .advantages-title {
    font-size: 48px;
  }

  .advantages-desc {
    margin-bottom: 80px;
  }

  .advantages-subhead {
    font-size: var(--fs-32);
    margin-bottom: 24px;
  }

  .advantages-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .advantages-item,
  .advantages-item:last-child {
    width: calc((100% - 24px) / 3);
  }

  .advantages-item img {
    width: 100%;
    height: auto;
    border-radius: 32px;

    transition:
      transform 0.3s ease,
      box-shadow 0.5s ease;

    &:hover,
    &:focus {
      transform: scale(1.02);
      box-shadow: var(--shadow-general);
    }
  }
}
