.section-title {
  font-family: var(--font-primary);
  font-weight: var(--fw-bold);
  font-size: var(--fs-36);
  line-height: var(--lh-midle);
  letter-spacing: var(--ls-tight);
  text-align: center;
  margin-bottom: 32px;
}

.assortment-list {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 calc(100% - 40px);
  max-width: 400px;
  min-width: 260px;
  box-sizing: border-box;
}

.product-image {
  border-radius: 32px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.product-title {
  margin-top: 16px;
  font-weight: var(--fw-medium);
  font-size: var(--fs-18);
  line-height: 1.6;
  text-align: center;
}

.product-description {
  font-weight: var(--fw-regular);
  font-size: var(--fs-14);
  line-height: var(-lh-relaxed);
  text-align: center;
  margin-bottom: 8px;
  max-width: 280px;
}

.product-price {
  font-weight: var(--fw-medium);
  font-size: var(--fs-20);
  line-height: var(--lh-relaxed);
  text-align: center;
  margin-bottom: 16px;
}

.assortment-list .product-card:last-child .product-description,
.assortment-list .product-card:nth-child(5) .product-description {
  margin-bottom: 30px;
}

.product-button {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  border: 1px solid var(--border-default);
  border-radius: 6px;
  padding: 8px 20px;
  width: 288px;
  height: 40px;

  font-weight: var(--fw-regular);
  font-size: var(--fs-16);
  line-height: var(--lh-relaxed);
  background: transparent;
  transition: all 0.3s ease;
}

@media only screen and (min-width: 768px) {
  .section-title {
    font-size: var(--fs-36);
    margin-bottom: 32px;
  }

  .assortment-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

    justify-content: center;
  }

  .product-card {
    flex: 1 1 calc(50% - 24px);
    min-height: 593px;
  }

  .product-price {
    margin-bottom: 16px;
  }

  .product-button {
    width: 340px;
  }
}

@media screen and (min-width: 1440px) {
  .section-title {
    font-size: var(--fs-48);
  }

  .assortment-list {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
    row-gap: 64px;
    justify-items: center;
    display: flex;
  }

  .product-card {
    flex: 1 1 calc(25% - 24px);
    max-width: 340px;
  }

  .product-card > picture {
    border-radius: 32px;
    transition:
      transform 0.3s ease,
      box-shadow 0.5s ease;

    &:hover,
    &:focus {
      transform: scale(1.02);
      box-shadow: var(--shadow-general);
    }
  }

  .product-button {
    width: 310px;
    max-width: 310px;

    transition: all 0.3s ease;

    &:hover,
    &:focus {
      transform: scale(1.02);
      opacity: 0.5;
    }

    &:active {
      border: 1px solid var(--border-green);
      color: var(--bg-btn-active);
      opacity: 0.5;
    }

    & :disabled {
      background-color: var(--bg-btn-disabled);
      color: var(--color-disabled-alpha);
      border-color: var(--border-disabled-alpha);
      cursor: not-allowed;
    }
  }
}

.product-button:focus-visible {
  outline: 3px solid var(--color-visible-alpha);
  outline-offset: 2px;
}
