.gallery-title {
  font-family: var(--font-primary);
  text-align: center;
  font-weight: var(--fw-bold);
  font-size: var(--fs-36);
  line-height: var(--lh-midle);
  letter-spacing: var(--ls-tight);
  margin-bottom: 16px;
}
.gallery-subtitle {
  font-weight: var(--fw-regular);
  font-size: var(--fs-18);
  line-height: var(--lh-relaxed);
  text-align: center;
  margin-bottom: 32px;
}
.gallery-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.gallery-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 32px;
  transition:
    transform 0.3s ease,
    box-shadow 0.5s ease;
}

.gallery-grid li:hover img {
  transform: scale(1.02);
  box-shadow: var(--shadow-general);
}

@media only screen and (min-width: 768px) {
  .gallery-title {
    margin-bottom: 24px;
  }

  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .item2 {
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 1;
  }

  .item3 {
    grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 2;
  }

  .item4 {
    grid-column-start: 1;
    grid-row-start: 1;
  }
}

@media screen and (min-width: 1440px) {
  .gallery-title {
    font-size: 48px;
  }

  .gallery-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .item1 {
    grid-row-start: 2;
  }

  .item2 {
    grid-row: span 2 / span 2;
  }

  .item3 {
    grid-column-start: 3;
    grid-row: span 2 / span 2;
  }
}
