.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--bg-section-green);
  padding: 14px 0;
}

body {
  padding-top: 60px;
}

.header > .container {
  display: flex;
  justify-content: space-between;
}

.logo-link {
  display: inline-block;
}

.logo-svg {
  display: block;
  height: auto;
}

.logo-svg-mobile {
  display: block;
}

.logo-svg-desktop {
  display: none;
}

.main-nav {
  display: none;
}

.main-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contacts {
  display: none;
}

.burger-menu-button {
  background: transparent;
}

@media screen and (min-width: 768px) {
  body {
    padding-top: 70px;
  }

  .header > .container {
    padding-left: 32px;
    padding-right: 28px;
  }
}

@media screen and (min-width: 1440px) {
  body {
    padding-top: 0;
  }

  .header {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
  }

  .header > .container {
    padding: 0px 64px;
    align-items: center;
  }

  .burger-menu-button {
    display: none;
  }

  .logo-svg-mobile {
    display: none;
  }

  .logo-svg-desktop {
    display: block;
  }

  .main-nav {
    display: block;
  }

  .main-nav-list {
    display: flex;
    gap: 32px;
  }

  .main-nav-link,
  .contacts-link,
  .footer__address {
    font-weight: var(--fw-regular);
    font-size: var(--fs-16);
    line-height: var(--lh-relaxed);
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
  }

  .main-nav-link:active,
  .contacts-link:active {
    color: var(--text-link-hover);
    opacity: 0.6;
  }

  .main-nav-link.disabled,
  .contacts-link.disabled {
    color: var(--text-link-disabled);
    pointer-events: none;
    cursor: default;
    text-decoration: none;
  }

  .main-nav-link::after,
  .contacts-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background-color: var(--text-link-accent);
    transition: width 0.3s;
  }

  .main-nav-link:hover::after,
  .main-nav-link:focus::after,
  .contacts-link:hover::after,
  .contacts-link:focus::after {
    width: 100%;
  }

  .main-nav-link:active::after,
  .contacts-link:active::after {
    background-color: var(--text-link-hover);
    opacity: 0.6;
  }

  .contacts {
    display: flex;
  }

  .contacts-list {
    display: flex;
    gap: 16px;
  }
}
