.hero {
  padding: 64px 0;
}

.hero-title {
  font-family: var(--font-primary);
  font-weight: var(--fw-bold);
  font-size: 40px;
  line-height: var(--lh-midle);
  letter-spacing: var(--ls-tight);
  margin-bottom: 20px;
}

.hero-description {
  font-weight: var(--fw-regular);
  font-size: var(--fs-16);
  line-height: var(--lh-relaxed);
  margin-bottom: 24px;
}

.hero-button {
  font-weight: var(--fw-regular);
  font-size: var(--fs-16);
  line-height: var(--lh-relaxed);
  color: var(--text-secondary);
  background: var(--bg-btn);
  border: 1px solid var(--border-default);
  border-radius: 6px;
  padding: 12px 24px;
  width: 288px;
  height: 50px;
  display: block;
  text-align: center;
}

.hero-image-wrapper > picture img {
  border-radius: 40px;
}

.hero-content {
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 32px;
    padding-bottom: 64px;
  }

  .hero-content {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 20px;
  }

  .hero-info {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .hero-title {
    margin-bottom: 0;
  }

  .hero-description {
    font-size: 18px;
    margin-bottom: 32px;
  }

  .hero-button {
    width: 148px;
    height: 50px;
    white-space: nowrap;

    margin-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .hero-content {
    display: flex;
    justify-content: space-between;
    gap: 32px;
  }

  .hero-title {
    font-size: var(--fs-56);
    max-width: 640px;
  }

  .hero-button {
    transition: all 0.5s ease;

    &:hover,
    &:focus {
      transform: scale(1.02);
      opacity: 0.5;
    }

    &:active {
      background: var(--bg-btn-active);
      opacity: 0.6;
    }

    &:disabled {
      background: var(--bg-btn);
      opacity: 0.2;
    }
  }

  .hero-image-wrapper > picture img {
    transition:
      transform 0.3s ease,
      box-shadow 0.5s ease;

    &:hover,
    &:focus {
      transform: scale(1.02);
      box-shadow: var(--shadow-general);
    }
  }
}
