.mobile-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-20px);
  transition:
    visibility 0.3s ease,
    opacity 0.3s ease,
    transform 0.3s ease;
  background: var(--color-bg-modal-alpha);
}

body.modal-open {
  overflow: hidden;
  height: 100vh;
}

.mobile-modal.is-open {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.mobile-modal-wrap {
  width: 100%;
  height: 100vh;
  padding: 32px 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-modal);
  overflow-y: auto;
}

.mobile-modal-nav {
  padding-bottom: 32px;
}

.mobile-modal-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mobile-modal-contacts {
  padding-top: 32px;
}

.mobile-modal-nav-link,
.mobile-modal-contacts-link {
  display: block;
  font-weight: var(--fw-regular);
  font-size: var(--fs-16);
  line-height: var(--lh-relaxed);
  text-decoration: none;
  transition: color 0.3s ease;
}

.mobile-modal-contacts-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.burger-menu-icon-close {
  display: none;
}

.burger-menu-button.is-open .burger-menu-icon-burger {
  display: none;
}

.burger-menu-button.is-open .burger-menu-icon-close {
  display: block;
}

@media screen and (min-width: 768px) {
  .mobile-modal-wrap {
    padding: 32px 32px;
  }
}

@media screen and (min-width: 1440px) {
  .mobile-modal {
    display: none;
  }

  body.modal-open {
    overflow: auto;
    position: static;
  }
}
