.support-title {
  font-family: var(--font-primary);
  font-weight: var(--fw-bold);
  font-size: var(--fs-36);
  line-height: var(--lh-midle);
  letter-spacing: var(--ls-tight);
  margin-bottom: 24px;
}
.support-subtitle {
  font-weight: var(--fw-regular);
  font-size: var(--fs-18);
  line-height: var(--lh-relaxed) 0.6;
  margin-bottom: 32px;
}
.support-img {
  max-width: 100%;
  height: 100%;
  border-radius: 40px;
  width: 288px;
  height: 428px;
}

.support-btn {
  background: var(--bg-btn);
  font-weight: var(--fw-regular);
  font-size: var(--fs-16);
  line-height: var(--lh-relaxed);
  color: var(--text-secondary);
  border: 1px solid var(--border-default);
  border-radius: 6px;
  padding: 12px 24px;
  width: 288px;
  height: 50px;
  margin: 24px auto;
  display: block;
}

.support-label {
  margin-bottom: 8px;
  font-weight: var(--fw-regular);
  font-size: var(--fs-16);
  line-height: var(--lh-relaxed);
  display: block;
}

.support-label:not(:first-child) {
  margin-top: 24px;
}

.support-input {
  width: 288px;
  height: 42px;
  background: var(--bg-input);
  border: 1px solid var(--border-alpha);
  border-radius: 6px;
  padding: 8px 12px;
}

.support-form {
  display: flex;
  flex-direction: column;
}

.support-textarea {
  width: 288px;
  height: 180px;
  background: var(--bg-input);
  border: 1px solid var(--border-alpha);
  border-radius: 6px;
  padding: 12px;
}

.support-input::placeholder,
.support-textarea::placeholder {
  font-weight: var(--fw-regular);
  font-size: var(--fs-16);
  line-height: var(--lh-relaxed);
  color: var(--text-placeholder);
}

.support-input:hover::placeholder,
.support-textarea:hover::placeholder {
  color: var(--text-placeholder-hover);
}

.support-input:not(:placeholder-shown)::placeholder,
.support-textarea:not(:placeholder-shown)::placeholder {
  opacity: 0;
}

.support-input,
.support-textareva {
  border: 1px solid var(--border-alpha);
  background: var(--bg-input);
  transition:
    border-color 0.3s ease,
    background 0.3s ease;
}

.support-input:user-invalid:not(:placeholder-shown),
.support-textarea:user-invalid:not(:placeholder-shown) {
  border: 1px solid var(--border-error);
  background: var(--bg-input-error);
}

.input-error {
  font-size: 14px;
  color: var(--text-error);
  margin-top: 4px;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.support-input:user-invalid:not(:placeholder-shown) + .input-error,
.support-textarea:user-invalid:not(:placeholder-shown) + .input-error {
  display: block;
  opacity: 1;
}

.support-input:focus,
.support-textarea:focus {
  outline: none;
  border-color: var(--border-light-alpha);
  background: var(--bg-input);
}

.support-textarea {
  resize: none;
}

@media only screen and (min-width: 768px) {
  .support-input {
    width: 704px;
    height: 42px;
  }

  .support-textarea {
    width: 704px;
    height: 180px;
  }

  .support-title {
    max-width: 468px;
    text-align: start;
  }

  .support-form {
    width: 704px;
  }

  .support-btn {
    margin: 24px 0;
    display: block;
  }

  .support-img {
    display: block;
    max-width: 100%;
    height: 100%;
    border-radius: 40px;
    width: 704px;
    height: 429px;
  }
}

@media screen and (min-width: 1440px) {
  .support > .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
  }

  .support-content {
    max-width: 644px;
    flex-shrink: 0;
  }

  .support-input {
    width: 644px;
    height: 42px;
  }

  .support-textarea {
    width: 644px;
    height: 180px;
  }

  .support-title {
    max-width: 644px;
    font-size: 48px;
  }

  .support-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .support-img {
    display: block;
    max-width: 100%;
    height: 100%;
    border-radius: 40px;
    width: 644px;
    height: 767px;

    transition:
      transform 0.3s ease,
      box-shadow 0.5s ease;

    &:hover,
    &:focus {
      transform: scale(1.02);
      box-shadow: var(--shadow-general);
    }
  }

  .support-subtitle {
    max-width: 644px;
  }

  .support-btn {
    margin-top: 24px;
    margin-bottom: 0;

    transition: all 0.5s ease;

    &:hover,
    &:focus {
      transform: scale(1.02);
      opacity: 0.5;
    }

    &:active {
      background: var(--bg-btn-active);
      opacity: 0.6;
    }

    &:disabled {
      background: var(--bg-btn);
      opacity: 0.2;
    }
  }
}
